# 所有项目的虚拟环境
**/.venv/

# 所有项目的环境变量
**/.env

# 所有项目的训练数据
**/data/

# 所有项目的 Qdrant 向量数据库
**/qdrant_storage/

# 所有项目的 Postgre 数据库
**/postgres_data

# 所有项目的 Python 缓存
**/__pycache__/
**/*.pyc

# 简历内容
**/Introduction.md
